@font-face {
    font-family: "SourceSansPro";
    src: url("fonts/SourceSansPro/SourceSansPro-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("fonts/SourceSansPro/SourceSansPro-Regular.ttf");
    font-weight: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SourceSansPro";
}

/* -------------- HEADER -------------- */
header {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid lightgray;
}

.logo {
    width: 7.9375em;
}

.avatar {
    width: 2.125em;
    height: 2.125em;
    border-radius: 50%;
}

/* ------------- POSTER INFO ------------ */
.poster-info {
    padding: .69em 1.06em .81em .62em; 
}
.poster-info > div {
    flex-direction: column;
    padding-left: .44em;
}

.poster-info p {
    margin: 0;
}

.poster-name {
    font-weight: bold;
    font-size: .8125rem;
}

.poster-residence {
    font-size: .75rem;
}

/* -------------- POST ---------------- */
.post {
    width: 100%;
}

/* ------------- ICONS ---------------- */
.post-interactions {
    padding: 1.31em 0 0 .62em;
}

.icons {
    gap: .65em;
}

.icon {
    width: 1.7em;
}

/* --------- UTILITY CLASSES ---------- */
.flex {
    display: flex;
}

