html, body {
    margin: 0;
    padding: 0;
}

/* -------------- HEADER -------------- */
header {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    width: 7.9375em;
}

.avatar {
    width: 2.125em;
    height: 2.125em;
    border-radius: 50%;
}

/* --------- UTILITY CLASSES ---------- */
.flex {
    display: flex;
}

